.my-content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0;
    height: auto;
    width: 40%;
    border-radius: 10px;
    position: relative;
}

.my-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}

@media (max-width: 992px) {
    .my-content {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .my-content {
        width: 90%;
    }
}

